*{
    padding:0 ;
    margin:0 ;
    background-color: burlywood;
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    .navbar ul{
        list-style-type: none;
        background-color:burlywood;
        padding: 0%;
        margin:0%;
        overflow: hidden;
    }
    .navbar a{
        text-decoration: none;
        color: white;
        padding: 15px;
        display: flex;
    }
    .navbar a:hover{
        background-color: black;
        
    }
    .navbar li{
        float: left;
    }
    h2 {
        box-sizing: border-box;
    }
    .column {
        float:left ;
        width: 600px; ; height:auto; 
        padding: 5px; 
        margin: 10px;
    }
    h3 {
        box-sizing: border-box ;
    }
    .column {
        float:left ;
        width: 600px; ; height:auto; 
        padding: 5px; 
        margin: 10px;
    }
    
    }